

body{
    background-color:white;
}


.header__class{
    /* display:flex;
    height:100%;
    flex-direction:column;     */
    /* position:sticky; */
    z-index:1;
    top:0;
    border:1px solid white;
    border-radius:5px;
    /* margin-left:auto; */
    /* margin-right:auto; */
    height:100%;
    /* margin:2vh; */
    padding:1em;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    background-color:#3C1053FF;
    box-shadow:2px 2px 8px 3px rgb(78, 78, 78);
}

.all__options{
    background-color:#3C1053FF;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    padding:1vw;
    flex:0.4
}

.tempcont{
    flex:0.3;
    background-color:#3C1053FF;
}

.options__all{
    color:black;
    font-size:1em;
    font-weight:500;
    margin:0 2px 0 2px;
    background-color:#3C1053FF;
    color:white;
    cursor:pointer;
    /* transition:all 0.5s linear; */
}

.options__all:hover{
    border-bottom:2px solid white;
}

/* a{
    background-color:white;
} */

@media only screen and (max-width: 1000px) {
    .all__options {
      flex: 1;
    }
    .tempcont{
        flex:0;
    }
    .iitj__img{
        display:none;
    }
  }

.iitj__img{
    width:10vh;
    height:10vh;
    border:2px solid white;
    border-radius:50%;
}

.drop__button{
    border:1px solid #3C1053FF;
    border-radius:3px;
    display:none;
    background-color:#3C1053FF
}

.ham{
    width:2em;
    height:2em;
    background-color:#3C1053FF;
    color:white;
}
@media screen and (max-width:700px){
    .drop__button{
        display:flex;
    }
    .all__options{
        display:none;
    }
    .header__class{
        flex-direction:column;
    }

    .options__all{
        margin:3px 0 3px 0;
        padding:3px;
        transition:all 0.5s linear;
    }
    .options__all:hover{
        border:none;
        background-color:rgb(221, 219, 219);
        color:black;
        
        border-radius:5px;
    }
    /* .options__all{
        font-size:5vh;
    } */
}

.toggle__options{
    display:flex;
    flex-direction:column;
    background-color:#3C1053FF;
    animation-name:togoptions;
    animation-duration:1s;
    animation-timing-function:linear;
}
@keyframes togoptions {
    from {opacity:0}
    to {opacity:1px}
}